.item-list-container {
  padding: 10px 50px;
  background-color: darkgreen;
}

.title-item-list-container {
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: bisque;

  
  
}

.item-list {
  display: grid;
 grid-template-columns: 2fr 2fr 2fr;
 grid-template-rows: 2fr 2fr;
  background-color: bisque;


}

.item {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  

}

.image-item {
  border-radius: 5px;
  border-color:#A3E4D7  ;
  margin: auto;
}