.cart{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .itemcount{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 20px;
  }
  .controls-itemcount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .button-controls{
    font-family: Jost, sans-serif;
    font-size: 1rem;
  
    border: 5%;
    padding: 1rem 2rem;
    background: #35b35b;
    color: #000;
  }
  .button-controls:hover , .submit-itemcount:hover{
    cursor: pointer;
    background-color: rgb(87, 87, 87);
  }
  .submit-itemcount{
    color: white;
    background-color: rgb(61, 61, 61);
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
  .button-link{
    color: white;
    background-color: rgb(61, 61, 61);
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-delete{
    color: white;
    background-color: rgb(105, 4, 4);
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  